pkgbase = maya-arnold
	pkgdesc = Autodesk Maya Arnold Renderer Plugin
	pkgver = 4.2.3
	pkgrel = 1
	url = https://www.arnoldrenderer.com/arnold/arnold-for-maya/
	arch = x86_64
	license = custom
	depends = maya>=2022.0
	depends = maya<2023.0
	depends = smbclient
	depends = tbb
	optdepends = maya-usd: Universal Scene Discription Support
	options = !strip
	source = manual://package.zip
	sha256sums = 73cd879af2db55f424fce7ce80f958c026acb45a6be081818f4182bd79d12e2a

pkgname = maya-arnold
