pkgbase = maya-arnold
	pkgdesc = Autodesk Maya Arnold Renderer Plugin
	pkgver = 7.0.0
	pkgrel = 1
	url = https://www.arnoldrenderer.com/arnold/arnold-for-maya/
	arch = x86_64
	license = custom
	depends = maya>=2022.0
	depends = maya<2023.0
	depends = smbclient
	depends = tbb
	optdepends = maya-usd: Universal Scene Discription Support
	options = !strip
	source = manual://package.zip
	sha256sums = d78dda37f92d11ea63dc6df372ac621c3d9435a70c15621c10e92e26a0617202

pkgname = maya-arnold
